.bio {
    text-align: center;
    h1 {
        font-size: 30px;
    }

    a {
        display: inline;
        padding: 10px;
    }
}

.navlink {
    height: 100px;
    justify-content: space-between;
    padding: 15px;
}
